.getback1 {
    background-image: url(../../images/banner5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.getback2 {
    background-image: url(../../images/pic2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.getback3 {
    background-image: url(../../images/pic3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.getback4 {
    background-image: url(../../images/pic4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.word {
    color: black;
    font-size: 6rem;
}

a.button3 {
    display: inline-block;
    padding: 1em 5em;
    margin: 0 1em 1em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

a.button3:hover {
    background-color: #4095c6;
}

@media all and (max-width:30em) {
    a.button3 {
        display: block;
        margin: 0.2em auto;
    }
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    //CSS
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    //CSS
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    //CSS
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    //CSS
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .getback1 {
        width: fit-content;
    }
}